@mixin dark-appearance {
  background: black;
  color: white;

  filter: none;
  img {
    filter: none;

    &.invertable { filter: invert(1); }
  }
  code, a:link, .footnote-definition:target {
    filter: invert(1)
  }
}

body[data-theme="dark"] { @include dark-appearance; }

html:has(body[data-theme="dark"]) {
  background: black;
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }

  html:has(body[data-theme="auto"]) {
    background: black;
  }
}

dl { margin: 0; }

dt, dd {
  margin: 0.4rem 0;
}

dt {
  margin-top: 0.6rem;
  font-weight: bold;

  &::before {
    content: '_:';
  }

  &::after {
    content: ' .';
  }
}

dd {
  margin-left: 40px;

  > * {
    margin: 0;
  }

  > code {
    background-color: transparent;
  }

  &:has(> span, > code) {
    &::before {
      content: '_:value "';
    }

    &::after {
      content: '"';
    }
  }

  &:has(> a) {
    &::before {
      content: '_:value <';
    }
    &::after {
      content: '>';
    }
  }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      &::before {
        content: '_:value <';
      }

      &[data-type]::before {
        content: '_:' attr(data-type) ' <';
      }

      &::after {
        content: '>';
      }
    }
  }
}

footer { margin: 16px 0; }
