@mixin dark-appearance {
  background: black;
  color: white;

  filter: none;
  img {
    filter: none;

    &.invertable { filter: invert(1); }
  }
  code, a:link, .footnote-definition:target {
    filter: invert(1)
  }
}

body[data-theme="dark"] { @include dark-appearance; }

html:has(body[data-theme="dark"]) {
  background: black;
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }

  html:has(body[data-theme="auto"]) {
    background: black;
  }
}

dl { margin: 0; }

dt, dd {
  margin: 0.4rem 0;
}

dt {
  margin-top: 0.6rem;
  font-weight: bold;

  &::before {
    content: '_:';
  }

  &::after {
    content: ' .';
  }
}

dd {
  margin-left: 40px;

  &:has(> span, > code, > a) {
    &::before {
      content: '_:value ';
    }
  }

  > * {
    margin: 0;
  }

  > code {
    background-color: transparent;
  }

  > span,
  > code {
    &::before, &::after {
      content: '"';
    }
  }

  > a {
    &::before {
      content: '<';
    }
    &::after {
      content: '>';
    }
  }
}

footer { margin: 16px 0; }
